//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  TsingWin (http://www.tsingwin.net)
  Licensed under GPLv3 - see LICENSE for details.

extends network_layout

block net_content
  if errors
    .row
      .col-sm-12
        .alert.alert-warning
          b= t.networks.ip_assignments_page.note_errors

  form(method='POST' action='')

    .row
      .col-sm-6
        h4 Member Name
          b= member.name
      .col-sm-6.right
        h4 ZT Address
          b= member.id

    .row
      .col-sm-12
        table.table.table-responsive.table-striped.table-hover
          tr
            th(width='3%')
            th= t.networks.ip_assignments_page.ip_address

          each ipAssignment, index in member.ipAssignments
            tr
              td(width='3%')
                a.btn.btn-link(role='button' href='/controller/network/' + network.nwid + '/member/' + member.id + '/ipAssignments/' + index + '/delete')
                  i.glyphicon.glyphicon-trash
              td
                each digit in ipAssignment
                  = digit

          tr
            td
              button.btn.btn-link(type='submit')
                i.glyphicon.glyphicon-plus
            td
              input#ipAddress.form-control(type='text' name='ipAddress' placeholder=t.networks.ip_assignments_page.ip_address_placeholder value=(undefined===ipAssignment? '' : ipAssignment.ipAddress))

    .row
      .col-sm-12
        a(href='/controller/network/' + network.nwid + '/routes')
          h3= t.networks.ip_assignments_page.managed_routes
        table.table.table-responsive.table-striped.table-hover
          tr
            th
            th= t.networks.routes_page.target
            th= t.networks.routes_page.gateway
            each route in network.routes
              tr
                td(width='3%')
                  a.btn.btn-link(role='button' href='/controller/network/' + network.nwid + '/routes/' + route.target + '/delete')
                    i.glyphicon.glyphicon-trash
                td= route.target
                td= route.via

  if errors
    .row
      .col-sm-12
        ul
          for err in errors
            li!= err.msg
