//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  TsingWin (http://www.tsingwin.net)
  Licensed under GPLv3 - see LICENSE for details.

extends login_layout

block login_content

  if error
     b #{error}
  else
    .row
      .col-sm-12
        h1= t.login.title

        if message
          .alert.alert-info
            strong= message

    form.form-horizontal(method='POST' action='')
      .form-group.row
        .col-sm-2
          label.control-label(for='username') #{t.login.username}
        .col-sm-10
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-user
            input#username.form-control(type='text' name='username' placeholder=t.login.username_placeholder)

      .form-group.row
        .col-sm-2
          label.control-label(for='password') #{t.login.password}
        .col-sm-10
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-lock
            input#password.form-control(type='password' name='password' placeholder=t.login.password_placeholder)

      .form-group.row
        .col-sm-2
        .col-sm-10
          button.btn.btn-primary(type='submit') #{t.login.login_button}
          = ' '
          a.btn.btn-default(href='/' name='cancel' role='button') #{t.login.cancel_button}
