//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  TsingWin (http://www.tsingwin.net)
  Licensed under GPLv3 - see LICENSE for details.

extends controller_layout

block content
  - const networkTextEn = 'Network'
  - const networkTextZh = '网络'
  - const backTextEn = 'Back'
  - const backTextZh = '返回'
  
  if error
     b #{error}
  else
    .row
      .col-sm-10
        block network_title
          h2
            if t.lang && t.lang.toggle === '中'
              = networkTextZh
            else
              = networkTextEn
            | 
            a(href='/controller/network/' + network.nwid) #{network.name}
            |  (#{network.nwid}):
        block title
          if title
            h3= title

      .col-sm-2
        h2.right
          a.btn.btn-default(href=navigate.whence role='button')
            if t.lang && t.lang.toggle === '中'
              = backTextZh
            else
              = backTextEn
    block net_content
