//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  TsingWin (http://www.tsingwin.net)
  Licensed under GPLv3 - see LICENSE for details.

extends users_layout

block users_content
  if message
    .row
      .col-sm-12
        .alert.alert-info
          button.close(type='button', data-dismiss='alert') &times;
          strong= message

  form.form-horizontal(method='POST' action='')
    if errors
      .form-group.row
        .col-sm-12
          .alert.alert-danger
            ul
              for err in errors
                li!= err.msg

    .form-group.row
      .col-sm-2
        label(for='username') #{t.password.username}
      .col-sm-10
        .input-group
          span.input-group-addon
            i.glyphicon.glyphicon-user
          input#username.form-control(type='text' name='username' placeholder=t.login.username_placeholder value=user.name readonly=readonly)

    .form-group.row
      .col-sm-2
        label(for='password1') #{t.password.enter_password}
      .col-sm-10
        .input-group
          span.input-group-addon
            i.glyphicon.glyphicon-lock
          input#password1.form-control(type='password' name='password1' placeholder=t.login.password_placeholder value=(undefined===user.password1? '' : user.password1))

    .form-group.row
      .col-sm-2
        label(for='password2') #{t.password.reenter_password}
      .col-sm-10
        .input-group
          span.input-group-addon
            i.glyphicon.glyphicon-lock
          input#password2.form-control(type='password' name='password2' placeholder=t.register.confirm_password_placeholder value=(undefined===user.password2? '' : user.password2))

    .form-group.row
      .col-sm-2
        label(for='pass_set') #{t.password.change_on_login}
      .col-sm-10
        input#pass_set(type='checkbox' name='pass_set' value='check')

    .form-group.row
      .col-sm-2
      .col-sm-10
        button.btn.btn-primary(type='submit') #{t.password.set_button}
        = ' '
        a.btn.btn-default(href='/users' name='cancel' role='button') #{t.password.cancel_button}
